# Dependencies

In [53]:
import pandas as pd
import numpy as np

In [54]:
df = pd.read_csv('clean_data/data.csv')
df.head()

,Date,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
0,192607.0,2.37,0.12,-99.99,-5.19,1.29,8.65,2.50,50.21,-0.48,...,7.70,1.92,-23.79,0.07,1.87,4.61,-0.54,2.89,-5.77,5.20
1,192608.0,2.23,2.68,-99.99,27.03,6.50,16.81,-0.76,42.98,-3.58,...,-2.38,4.85,5.39,-0.75,-0.13,11.83,2.57,5.30,0.32,6.76
2,192609.0,-0.57,1.58,-99.99,4.02,1.26,8.33,6.42,-4.91,0.73,...,-5.54,0.08,-7.87,0.25,-0.56,-1.75,0.72,-3.06,-4.81,-3.86
3,192610.0,-0.46,-3.68,-99.99,-3.31,1.06,-1.40,-5.09,5.37,-4.68,...,-5.08,-2.62,-15.38,-2.20,-4.11,-11.82,-4.28,-5.74,-0.94,-8.49
4,192611.0,6.75,6.26,-99.99,7.29,4.55,0.00,1.82,-6.40,-0.54,...,3.84,1.61,4.67,6.52,4.33,-2.97,3.58,2.21,5.13,4.00

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5131 entries, 0 to 5130
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5116 non-null   float64
 1   Agric   5116 non-null   float64
 2   Food    5116 non-null   float64
 3   Soda    5116 non-null   float64
 4   Beer    5116 non-null   float64
 5   Smoke   5116 non-null   float64
 6   Toys    5116 non-null   float64
 7   Fun     5116 non-null   float64
 8   Books   5116 non-null   float64
 9   Hshld   5116 non-null   float64
 10  Clths   5116 non-null   float64
 11  Hlth    5116 non-null   float64
 12  MedEq   5116 non-null   float64
 13  Drugs   5116 non-null   float64
 14  Chems   5116 non-null   float64
 15  Rubbr   5116 non-null   float64
 16  Txtls   5116 non-null   float64
 17  BldMt   5116 non-null   float64
 18  Cnstr   5116 non-null   float64
 19  Steel   5116 non-null   float64
 20  FabPr   5116 non-null   float64
 21  Mach    5116 non-null   float64
 22  ElcEq   5116 non-null   float64
 23  Autos   5116 non-null   float64
 24  Aero    5116 non-null   float64
 25  Ships   5116 non-null   float64
 26  Guns    5116 non-null   float64
 27  Gold    5116 non-null   float64
 28  Mines   5116 non-null   float64
 29  Coal    5116 non-null   float64
 30  Oil     5116 non-null   float64
 31  Util    5116 non-null   float64
 32  Telcm   5116 non-null   float64
 33  PerSv   5116 non-null   float64
 34  BusSv   5116 non-null   float64
 35  Comps   5116 non-null   float64
 36  Chips   5116 non-null   float64
 37  LabEq   5116 non-null   float64
 38  Paper   5116 non-null   float64
 39  Boxes   5116 non-null   float64
 40  Trans   5116 non-null   float64
 41  Whlsl   5116 non-null   float64
 42  Rtail   5116 non-null   float64
 43  Meals   5116 non-null   float64
 44  Banks   5116 non-null   float64
 45  Insur   5116 non-null   float64
 46  RlEst   5116 non-null   float64
 47  Fin     5116 non-null   float64
 48  Other   5116 non-null   float64
dtypes: float64(49)
memory usage: 1.9 MB

In [56]:
test = test.astype('float16')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5131 entries, 0 to 5130
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5116 non-null   float16
 1   Agric   5116 non-null   float16
 2   Food    5116 non-null   float16
 3   Soda    5116 non-null   float16
 4   Beer    5116 non-null   float16
 5   Smoke   5116 non-null   float16
 6   Toys    5116 non-null   float16
 7   Fun     5116 non-null   float16
 8   Books   5116 non-null   float16
 9   Hshld   5116 non-null   float16
 10  Clths   5116 non-null   float16
 11  Hlth    5116 non-null   float16
 12  MedEq   5116 non-null   float16
 13  Drugs   5116 non-null   float16
 14  Chems   5116 non-null   float16
 15  Rubbr   5116 non-null   float16
 16  Txtls   5116 non-null   float16
 17  BldMt   5116 non-null   float16
 18  Cnstr   5116 non-null   float16
 19  Steel   5116 non-null   float16
 20  FabPr   5116 non-null   float16
 21  Mach    5116 non-null   float16
 22  ElcEq   5116 non-null   float16
 23  Autos   5116 non-null   float16
 24  Aero    5116 non-null   float16
 25  Ships   5116 non-null   float16
 26  Guns    5116 non-null   float16
 27  Gold    5116 non-null   float16
 28  Mines   5116 non-null   float16
 29  Coal    5116 non-null   float16
 30  Oil     5116 non-null   float16
 31  Util    5116 non-null   float16
 32  Telcm   5116 non-null   float16
 33  PerSv   5116 non-null   float16
 34  BusSv   5116 non-null   float16
 35  Comps   5116 non-null   float16
 36  Chips   5116 non-null   float16
 37  LabEq   5116 non-null   float16
 38  Paper   5116 non-null   float16
 39  Boxes   5116 non-null   float16
 40  Trans   5116 non-null   float16
 41  Whlsl   5116 non-null   float16
 42  Rtail   5116 non-null   float16
 43  Meals   5116 non-null   float16
 44  Banks   5116 non-null   float16
 45  Insur   5116 non-null   float16
 46  RlEst   5116 non-null   float16
 47  Fin     5116 non-null   float16
 48  Other   5116 non-null   float16
dtypes: float16(49)
memory usage: 491.2 KB