In [16]:
import pandas as pd
from datetime import datetime

In [17]:
df = pd.read_csv('data/48_Industry_Portfolios_Daily.csv', skiprows=9, nrows= 25880, skipinitialspace=True,)
df.rename(columns={'Unnamed: 0' : 'Date'}, inplace= True)
df.columns = df.columns.str.strip()
df.loc[:, df.columns != 'Date'] = df.loc[:, df.columns != 'Date'].apply(pd.to_numeric, errors= 'coerce')
df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d').dt.strftime('%Y-%m-%d')
df.to_csv('clean_data/daily_data.csv')
df.tail()

,Date,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
25875,2024-11-22,0.76,0.44,0.27,0.87,-0.23,1.74,0.07,0.82,1.52,...,1.37,1.17,1.64,0.81,1.36,1.58,0.26,2.45,1.22,1.14
25876,2024-11-25,4.17,0.47,0.99,0.77,0.38,2.16,-1.71,0.85,0.85,...,0.74,1.77,1.26,1.72,1.31,1.19,1.26,3.62,0.18,0.33
25877,2024-11-26,-1.17,0.45,0.09,-0.97,1.29,-1.16,0.23,-0.63,0.50,...,-0.12,-0.47,-0.22,1.65,-0.13,-0.25,0.36,0.15,-0.11,0.50
25878,2024-11-27,-1.01,0.03,-0.06,0.36,-0.21,0.14,0.47,-0.62,0.12,...,0.21,-0.12,-0.20,-0.42,-0.34,0.06,0.27,0.03,0.07,0.31
25879,2024-11-29,-0.27,0.50,0.14,0.68,0.68,1.61,0.98,0.39,-0.05,...,0.03,0.21,0.16,0.62,0.29,-0.15,0.15,-0.37,0.20,0.30

In [18]:
df = pd.read_csv('data/48_Industry_Portfolios_Wout_Div.csv', skiprows=11, nrows= 1181, skipinitialspace=True)
df.rename(columns={'Unnamed: 0' : 'Date'}, inplace= True)
df.columns = df.columns.str.strip()
df.loc[:, df.columns != 'Date'] = df.loc[:, df.columns != 'Date'].apply(pd.to_numeric, errors= 'coerce')
df['Date'] = pd.to_datetime(df['Date'], format='%Y%m').dt.strftime('%Y-%m')
df.to_csv('clean_data/div_data.csv')
df.tail()

,Date,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
1176,2024-07,5.10,3.87,3.57,3.04,11.69,8.50,-3.96,3.01,-1.47,...,11.79,0.19,6.30,-0.16,-2.68,7.26,8.40,19.38,6.57,5.87
1177,2024-08,2.25,4.76,5.38,0.80,7.95,-2.25,5.94,1.63,6.16,...,1.11,2.19,-1.32,0.62,5.30,1.98,4.23,0.55,0.80,6.19
1178,2024-09,2.50,0.74,0.23,0.70,-2.65,3.33,4.28,-2.51,1.02,...,2.93,2.41,-0.79,4.08,5.24,-2.18,-1.25,5.91,2.44,-1.39
1179,2024-10,4.29,-4.49,-7.70,-5.15,8.46,0.29,4.00,0.45,-6.21,...,-3.61,1.36,-1.72,-0.98,-0.66,4.92,-4.35,0.69,6.39,-2.66
1180,2024-11,3.02,0.33,-0.31,-0.45,2.15,3.67,14.11,5.36,6.91,...,6.12,8.26,11.73,10.15,6.12,13.01,8.20,7.81,14.01,7.36

In [19]:
df = pd.read_csv('data/48_Industry_Portfolios.CSV', skiprows=11, nrows= 1181, skipinitialspace=True)
df.rename(columns={'Unnamed: 0' : 'Date'}, inplace= True)
df.columns = df.columns.str.strip()
df.loc[:, df.columns != 'Date'] = df.loc[:, df.columns != 'Date'].apply(pd.to_numeric, errors= 'coerce')
df['Date'] = pd.to_datetime(df['Date'], format='%Y%m').dt.strftime('%Y-%m')
df.to_csv('clean_data/data.csv', index= False)
df.tail()

,Date,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
1176,2024-07,5.11,4.06,3.57,3.04,11.69,8.51,-3.96,3.15,-1.07,...,11.79,0.20,6.44,-0.13,-2.66,7.46,8.44,19.38,6.73,5.90
1177,2024-08,2.32,5.09,5.38,0.88,7.96,-1.92,5.98,1.69,6.30,...,1.24,2.45,-1.21,0.75,5.47,2.20,4.33,0.56,0.98,6.27
1178,2024-09,2.76,0.95,0.77,1.32,-1.31,3.37,4.29,-2.33,1.05,...,3.27,2.50,-0.72,4.09,5.43,-2.00,-1.02,5.99,2.61,-1.35
1179,2024-10,4.39,-4.28,-7.69,-5.15,8.46,0.29,4.02,0.61,-5.81,...,-3.61,1.37,-1.58,-0.96,-0.64,5.12,-4.31,0.69,6.53,-2.65
1180,2024-11,3.02,0.63,0.28,-0.40,2.15,4.00,14.15,5.40,7.01,...,6.22,8.43,11.84,10.25,6.25,13.21,8.33,7.82,14.13,7.44

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1181 non-null   object
 1   Agric   1181 non-null   float64
 2   Food    1181 non-null   float64
 3   Soda    1181 non-null   float64
 4   Beer    1181 non-null   float64
 5   Smoke   1181 non-null   float64
 6   Toys    1181 non-null   float64
 7   Fun     1181 non-null   float64
 8   Books   1181 non-null   float64
 9   Hshld   1181 non-null   float64
 10  Clths   1181 non-null   float64
 11  Hlth    1181 non-null   float64
 12  MedEq   1181 non-null   float64
 13  Drugs   1181 non-null   float64
 14  Chems   1181 non-null   float64
 15  Rubbr   1181 non-null   float64
 16  Txtls   1181 non-null   float64
 17  BldMt   1181 non-null   float64
 18  Cnstr   1181 non-null   float64
 19  Steel   1181 non-null   float64
 20  FabPr   1181 non-null   float64
 21  Mach    1181 non-null   float64
 22  ElcEq   1181 non-null   float64
 23  Autos   1181 non-null   float64
 24  Aero    1181 non-null   float64
 25  Ships   1181 non-null   float64
 26  Guns    1181 non-null   float64
 27  Gold    1181 non-null   float64
 28  Mines   1181 non-null   float64
 29  Coal    1181 non-null   float64
 30  Oil     1181 non-null   float64
 31  Util    1181 non-null   float64
 32  Telcm   1181 non-null   float64
 33  PerSv   1181 non-null   float64
 34  BusSv   1181 non-null   float64
 35  Comps   1181 non-null   float64
 36  Chips   1181 non-null   float64
 37  LabEq   1181 non-null   float64
 38  Paper   1181 non-null   float64
 39  Boxes   1181 non-null   float64
 40  Trans   1181 non-null   float64
 41  Whlsl   1181 non-null   float64
 42  Rtail   1181 non-null   float64
 43  Meals   1181 non-null   float64
 44  Banks   1181 non-null   float64
 45  Insur   1181 non-null   float64
 46  RlEst   1181 non-null   float64
 47  Fin     1181 non-null   float64
 48  Other   1181 non-null   float64
dtypes: float64(48), object(1)
memory usage: 452.2+ KB