# Import Dependencies

In [23]:
import pandas as pd
import numpy as np
from scipy.optimize import minimize

from matplotlib import pyplot as plt

from pathlib import Path
from tqdm import tqdm

import warnings

warnings.filterwarnings('ignore')

# Load Data

In [24]:
# load daily industry returns
# load 4 dataframes (returns, nb industries, avg firm size, Sum of BE / Sum of ME)
df = pd.read_csv(str(Path().absolute()) + "/data/48_Industry_Portfolios.CSV") 

# split these dataframes
df_list = np.split(df, df[df.isnull().all(1)].index, axis = 0) 

df_list

[          Date  Agric  Food   Soda   Beer   Smoke  Toys   Fun    Books  Hshld  \
 0     192607.0   2.37   0.12 -99.99  -5.19   1.29   8.65   2.50  50.21  -0.48
 1     192608.0   2.23   2.68 -99.99  27.03   6.50  16.81  -0.76  42.98  -3.58
 2     192609.0  -0.57   1.58 -99.99   4.02   1.26   8.33   6.42  -4.91   0.73
 3     192610.0  -0.46  -3.68 -99.99  -3.31   1.06  -1.40  -5.09   5.37  -4.68
 4     192611.0   6.75   6.26 -99.99   7.29   4.55   0.00   1.82  -6.40  -0.54
 ...        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 1177  202408.0   2.32   5.09   5.38   0.88   7.96  -1.92   5.98   1.69   6.30
 1178  202409.0   2.76   0.95   0.77   1.32  -1.31   3.37   4.29  -2.33   1.05
 1179  202410.0   4.39  -4.28  -7.69  -5.15   8.46   0.29   4.02   0.61  -5.81
 1180  202411.0   3.02   0.63   0.28  -0.40   2.15   4.04  14.14   5.40   7.01
 1181  202412.0  -6.95  -5.70  -3.29  -6.04  -8.25  -6.95  -1.51  -6.17  -6.14

       ...  Boxes  Trans  Whlsl  Rtail  Meals  Banks  Insur  RlEst  Fin    \
 0     ...   7.70   1.92 -23.79   0.07   1.87   4.61  -0.54   2.89  -5.77
 1     ...  -2.38   4.85   5.39  -0.75  -0.13  11.83   2.57   5.30   0.32
 2     ...  -5.54   0.08  -7.87   0.25  -0.56  -1.75   0.72  -3.06  -4.81
 3     ...  -5.08  -2.62 -15.38  -2.20  -4.11 -11.82  -4.28  -5.74  -0.94
 4     ...   3.84   1.61   4.67   6.52   4.33  -2.97   3.58   2.21   5.13
 ...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 1177  ...   1.24   2.45  -1.21   0.75   5.47   2.20   4.33   0.56   0.98
 1178  ...   3.27   2.50  -0.72   4.09   5.43  -2.00  -1.02   5.99   2.61
 1179  ...  -3.61   1.37  -1.58  -0.96  -0.64   5.12  -4.31   0.69   6.53
 1180  ...   6.22   8.42  11.84  10.25   6.25  13.21   8.33   7.82  14.13
 1181  ...  -8.58  -8.63  -8.59  -0.30  -4.29  -5.53 -11.15  -8.96  -6.54

       Other
 0      5.20
 1      6.76
 2     -3.86
 3     -8.49
 4      4.00
 ...     ...
 1177   6.27
 1178  -1.35
 1179  -2.65
 1180   7.44
 1181  -6.35

 [1182 rows x 49 columns],
           Date  Agric  Food   Soda   Beer   Smoke  Toys   Fun    Books  Hshld  \
 1182       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 1183  192607.0    3.0   40.0    0.0    3.0   16.0    1.0    6.0    1.0    8.0
 1184  192608.0    3.0   40.0    0.0    3.0   16.0    1.0    6.0    1.0    8.0
 1185  192609.0    3.0   40.0    0.0    3.0   16.0    1.0    6.0    1.0    8.0
 1186  192610.0    3.0   40.0    0.0    3.0   16.0    1.0    6.0    1.0    8.0
 ...        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 2360  202408.0   13.0   50.0    7.0   11.0    6.0   26.0   46.0   10.0   46.0
 2361  202409.0   12.0   50.0    7.0   11.0    6.0   26.0   46.0   10.0   46.0
 2362  202410.0   12.0   50.0    7.0   11.0    5.0   26.0   46.0   10.0   46.0
 2363  202411.0   12.0   50.0    7.0   11.0    5.0   26.0   46.0   10.0   46.0
 2364  202412.0   12.0   49.0    7.0   10.0    5.0   25.0   45.0   10.0   46.0

       ...  Boxes  Trans  Whlsl  Rtail  Meals  Banks  Insur  RlEst  Fin    \
 1182  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 1183  ...    6.0   73.0    2.0   33.0    6.0    3.0    3.0    2.0    5.0
 1184  ...    6.0   73.0    2.0   33.0    6.0    3.0    3.0    2.0    5.0
 1185  ...    6.0   73.0    2.0   33.0    6.0    3.0    3.0    2.0    5.0
 1186  ...    6.0   73.0    2.0   33.0    6.0    3.0    3.0    2.0    5.0
 ...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 2360  ...    9.0   70.0   85.0  144.0   56.0  383.0   97.0   31.0   95.0
 2361  ...    9.0   69.0   85.0  143.0   55.0  382.0   97.0   31.0   95.0
 2362  ...    9.0   69.0   84.0  142.0   54.0  381.0   97.0   31.0   94.0
 2363  ...    9.0   68.0   83.0  142.0   54.0  381.0   97.0   31.0   93.0
 2364  ...    9.0   67.0   83.0  139.0   54.0  381.0   97.0   31.0   93.0

       Other
 1182    NaN
 1183    4.0
 1184    4.0
 1185    4.0
 1186    4.0
 ...     ...
 2360  153.0
 2361  144.0
 2362  138.0
 2363  128.0
 2364  119.0

 [1183 rows x 49 columns],
           Date    Agric    Food      Soda      Beer      Smoke    Toys   \
 2365       NaN      NaN      NaN       NaN       NaN       NaN      NaN
 2366  192607.0    99.80    31.19    -99.99      7.12     59.72    13.00
 2367  192608.0   102.06    31.15    -99.99      6.75     60.47    14.12
 2368  192609.0   104.34    31.95    -99.99      8.58     64.03    16.50
 2369  192610.0   102.91    32.21    -99.99      8.92     64.42    17.88
 ...        ...      ...      ...       ...       ...       ...      ...
 3543  202408.0  3452.34  8599.33  52001.20  33340.54  44386.30  1438.61
 3544  202409.0  3823.94  9008.40  54799.68  33608.89  47914.43  1406.18
 3545  202410.0  3919.58  9075.01  54923.29  33844.06  55500.73  1453.04
 3546  202411.0  4087.88  8667.60  50696.59  32100.66  60196.34  1457.23
 3547  202412.0  4211.50  8873.36  50540.66  34988.36  61492.70  1515.57

          Fun      Books     Hshld  ...    Boxes     Trans    Whlsl     Rtail  \
 2365       NaN      NaN       NaN  ...      NaN       NaN      NaN       NaN
 2366     28.64     4.33     22.27  ...    35.35     68.19     1.19     46.65
 2367     29.34     6.50     22.13  ...    37.86     69.29     0.90     46.57
 2368     29.10     9.29     21.18  ...    36.82     72.35     0.95     46.11
 2369     30.58     8.83     21.23  ...    34.77     72.18     0.88     46.15
 ...        ...      ...       ...  ...      ...       ...      ...       ...
 3543  10217.22  3112.50  15219.06  ...  8463.74  14310.41  7202.10  30581.85
 3544  10824.36  3163.31  16156.86  ...  8557.61  14821.58  7107.25  30987.26
 3545  11287.60  3083.88  16322.13  ...  8808.62  15178.50  7134.86  32476.63
 3546  11739.34  3097.72  15308.68  ...  8490.68  15610.36  7096.73  32158.89
 3547  13693.04  3263.66  16366.12  ...  9010.00  17150.50  7929.08  36185.96

          Meals    Banks     Insur    RlEst     Fin       Other
 2365       NaN      NaN       NaN      NaN       NaN       NaN
 2366     10.82    14.50     31.82    22.92      9.92     24.25
 2367     11.00    15.17     31.65    23.56      9.33     25.51
 2368     10.94    16.97     32.46    24.47      9.36     27.21
 2369     10.80    16.46     32.66    23.72      8.89     26.16
 ...        ...      ...       ...      ...       ...       ...
 3543  12772.16  7717.93  19560.71  2610.76  16788.00  10192.96
 3544  13693.83  7891.69  20387.18  2625.06  16922.38  11498.13
 3545  14666.47  7739.70  20132.49  2780.28  17519.62  11829.80
 3546  14569.13  8120.72  19256.20  2799.33  18802.37  12366.88
 3547  15460.17  9176.87  20834.29  3017.98  21436.82  14273.44

 [1183 rows x 49 columns],
         Date  Agric  Food   Soda   Beer   Smoke  Toys   Fun    Books  Hshld  \
 3548     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 3549  1926.0   0.65   0.63 -99.99   2.54   0.79   1.99   0.81   4.34   0.38
 3550  1927.0   0.59   0.53 -99.99   1.81   0.69   2.04   0.96   2.17   0.36
 3551  1928.0   0.57   0.41 -99.99   0.62   0.69   1.44   0.78   0.73   0.35
 3552  1929.0   0.64   0.37 -99.99   0.52   0.67   1.68   0.50   0.61   0.27
 ...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 3643  2020.0   1.14   0.46   0.10   0.17   0.09   0.20   0.14   0.80   0.15
 3644  2021.0   0.76   0.39   0.09   0.13   0.03   0.08   0.11   0.39   0.12
 3645  2022.0   0.66   0.42   0.09   0.15   0.27   0.35   0.29   0.69   0.14
 3646  2023.0   0.65   0.43   0.10   0.13   0.28   0.39   0.17   0.59   0.14
 3647  2024.0   0.68   0.49   0.10   0.20   0.18   0.36   0.14   0.43   0.15

       ...  Boxes  Trans  Whlsl  Rtail  Meals  Banks  Insur  RlEst  Fin    \
 3548  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
 3549  ...   0.97   1.41   2.35   0.44   0.66   0.66   0.62   0.88   0.89
 3550  ...   1.00   1.30   5.25   0.43   0.59   0.83   0.53   0.77   1.11
 3551  ...   0.65   1.26   0.65   0.34   0.55   0.45   0.41   0.67   0.81
 3552  ...   0.43   1.09   0.39   0.29   0.41   0.29   0.46   0.96   0.48
 ...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 3643  ...   0.40   0.32   0.34   0.14   0.24   0.79   0.69   0.60   0.57
 3644  ...   0.29   0.16   0.22   0.12   0.13   0.53   0.57   0.31   0.37
 3645  ...   0.37   0.24   0.27   0.16   0.20   0.69   0.52   0.52   0.49
 3646  ...   0.42   0.20   0.27   0.16   0.14   0.65   0.37   0.43   0.42
 3647  ...   0.33   0.23   0.26   0.12   0.16   0.66   0.37   0.43   0.35

       Other
 3548    NaN
 3549   0.63
 3550   0.69
 3551   0.60
 3552   0.91
 ...     ...
 3643   0.70
 3644   0.49
 3645   0.63
 3646   0.48
 3647   0.45

 [100 rows x 49 columns]]

In [ ]:
# load 4 dataframes (returns, nb industries, avg firm size, Sum of BE / Sum of ME)
df = pd.read_csv(str(Path().absolute()) + "/data/48_Industry_Portfolios.CSV") 

# split these dataframes
df_list = np.split(df, df[df.isnull().all(1)].index, axis = 0) 

# clean data and convert date column to index
for i in range(len(df_list)):
    df_list[i] = pd.DataFrame(df_list[i])  
    df_list[i] = df_list[i].dropna()  
    df_list[i].loc[:, "Date"] = df_list[i].loc[:, "Date"].astype("int")  
    df_list[i] = df_list[i].set_index("Date")  
    
    # last data frame has yearly data
    if i == (len(df_list) - 1): 
        df_list[i].index = pd.to_datetime(df_list[i].index, format = "%Y")
        df_list[i].index = df_list[i].index + pd.DateOffset(months = 6)
    else:
        df_list[i].index = pd.to_datetime(df_list[i].index, format = "%Y%m")

# create a dataframe of excess returns, nb of industries and avg sizes
df = df_list[0] / 100
mask = (df <= -0.99)
df[mask] = np.nan

nb_industries = df_list[1]
nb_industries[mask] = np.nan

avg_size = df_list[2]
avg_size[mask] = np.nan

be_over_me = df_list[3]
be_over_me[mask] = np.nan

In [28]:
# market cap of each industry over time
mkt_cap = nb_industries * avg_size

# book value to market value
be_over_me = be_over_me.resample("1MS").ffill()

# momentum with monthly data
momentum = df.rolling(12).mean()

# Normalize Data

In [ ]:
mkt_cap_norm = (mkt_cap - mkt_cap.mean()) / mkt_cap.std()
mkt_cap_norm.describe()

be_over_me_norm = (be_over_me - be_over_me.mean()) / be_over_me.std()
be_over_me_norm.head()

momentum_norm = (momentum - momentum.mean()) / momentum.std()
momentum_norm.head()

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1926-07-01,-0.007748,0.36262,NaN,3.056935,0.801121,0.868483,-0.059437,4.945518,-0.078766,0.655348,...,1.393274,-0.163369,1.466124,-0.248168,-0.152528,-0.258599,-0.686453,-0.20712,-0.018053,-0.199339
1926-08-01,-0.007748,0.36262,NaN,3.056935,0.801121,0.868483,-0.059437,4.945518,-0.078766,0.655348,...,1.393274,-0.163369,1.466124,-0.248168,-0.152528,-0.258599,-0.686453,-0.20712,-0.018053,-0.199339
1926-09-01,-0.007748,0.36262,NaN,3.056935,0.801121,0.868483,-0.059437,4.945518,-0.078766,0.655348,...,1.393274,-0.163369,1.466124,-0.248168,-0.152528,-0.258599,-0.686453,-0.20712,-0.018053,-0.199339
1926-10-01,-0.007748,0.36262,NaN,3.056935,0.801121,0.868483,-0.059437,4.945518,-0.078766,0.655348,...,1.393274,-0.163369,1.466124,-0.248168,-0.152528,-0.258599,-0.686453,-0.20712,-0.018053,-0.199339
1926-11-01,-0.007748,0.36262,NaN,3.056935,0.801121,0.868483,-0.059437,4.945518,-0.078766,0.655348,...,1.393274,-0.163369,1.466124,-0.248168,-0.152528,-0.258599,-0.686453,-0.20712,-0.018053,-0.199339

In [ ]:
def CRRA(wealth, gamma= 5):
    """"Constant Relative Risk Aversion Utility Function"""

    if gamma == 1:
        return np.log(wealth)
    else:
        return (wealth ** (1 - gamma)) / (1 - gamma)

In [ ]:
weights = np.ones(momentum_norm.shape[1])/momentum_norm.shape[1]
theta = np.ones(momentum_norm.shape[1])/momentum_norm.shape[1]

x_hat = momentum_norm.to_numpy()

for i in range(x_hat.shape[1]):
    weights +

Agric     11
Food      11
Soda     455
Beer      11
Smoke     11
Toys      11
Fun       11
Books     11
Hshld     11
Clths     11
Hlth     527
MedEq     11
Drugs     11
Chems     11
Rubbr     82
Txtls     11
BldMt     11
Cnstr     11
Steel     11
FabPr    455
Mach      11
ElcEq     11
Autos     11
Aero      11
Ships     11
Guns     455
Gold     455
Mines     11
Coal      11
Oil       11
Util      11
Telcm     11
PerSv     23
BusSv     11
Comps     11
Chips     11
LabEq     11
Paper     47
Boxes     11
Trans     11
Whlsl     11
Rtail     11
Meals     11
Banks     11
Insur     11
RlEst     11
Fin       11
Other     11
dtype: int64